################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/DevFreela.API/bin/Debug/net8.0
/.vs
/DevFreela.API/obj
/DevFreela.API/appsettings.json
/DevFreela.Application/bin/Debug/net8.0
/DevFreela.Application/obj
/DevFreela.Core/bin/Debug/net8.0
/DevFreela.Core/obj
/DevFreela.Infrastructure/bin/Debug/net8.0
/DevFreela.Infrastructure/obj
