################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/DevFreela.API/bin/Debug/net8.0
/.vs
/DevFreela.API/obj
/DevFreela.API/appsettings.json
